*{
    margin: 0%;
}

.footer{
    background: rgb(0, 0, 0);
    font-family: sans-serif;
    position: absolute;
    top: 200%;
    width: 100%;
}

@media only screen and (max-width : 450px) {
    .footer{
        top: 150%;
        font-size: 14px;
    }
}